#home {
  .sample-button {
    background: #61dafb;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: inherit;
    color: #fff;
    margin-top: 10px;
  }

  .sample-message {

  }
}